<!-- The form also includes a method="post" attribute. When a form is being used to create a new object, it must have a post method. This creates a special type of HTTP request called a POST request. -->
<form action="/places" method="post">
  <label for="placeName">Add a new place</label>
  <input id="placeName" name="placeName" type="text">

  <label for="company">Add who accompanied you</label>
  <input id="company" name="company" type="text">

  <label for="dateOfVisit">Add date of visit</label>
  <input id="dateOfVisit" name="dateOfVisit" type="text">

  <label for="lengthOfStay">Add length of stay</label>
  <input id="lengthOfStay" name="lengthOfStay" type="text">

  <label for="journalEntry">Add a little journal entry about your stay:</label>
  <input id="journalEntry" name="journalEntry" type="text">

  <label for="favFood">Add your favorite food you tried in this new place!</label>
  <input id="favFood" name="favFood" type="text">

  <button type="submit">Submit</button>
</form>