<!-- The form also includes a method="post" attribute. When a form is being used to create a new object, it must have a post method. This creates a special type of HTTP request called a POST request. -->
<form action="/places" method="post">
  <label for="description">Add a new place</label>
  <input id="description" name="description" type="text">
  <button type="submit">Submit</button>
</form>